MACHINE ??= "rzpi"

SRC_URI:remove:pn-gstreamer1.0-omx = "git://anongit.freedesktop.org/gstreamer/common;destsuffix=git/common;name=common;branch=master"
SRC_URI:pn-gstreamer1.0-omx = "git://github.com/GStreamer/common.git;destsuffix=git/common;name=common;branch=master;protocol=https"
